*{
    margin: 0;
    padding: 0;
}
/* Menu */
strong{
    font-size: 14px;
    text-transform: uppercase;
}

h1{
    padding-top: 20px;
    padding-left: 40px;
}
.gravy{
    border: 2px rgb(219, 31, 31) solid;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

h1 span{
    padding-left: 30px;
}